﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>ini port ver2 : @ViewData["port"]</h1>
    <h1 class="display-4">Welcome Bekasi - Sabtu v. 1.0.30 </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Halaman Web Harapan Indah/update HPA</a>.</p>
</div>
   <hr />
   <br />

<div style='color:white;background-color:brown;width:25%;padding:10px;'>
    <h5>Perumahan Harapan Indah</h5>
    <h6>Bekasi</h6>
    <h6>Jawa barat</h6>
</div>

<hr />
<div style="color:yellow;background-color:black;width:25%;padding:10px;">
    <h5>DKI Jakarta</h5>
    <h6>Jakarta Timur</h6>
    <h6>Indonesia Jaya</h6>
</div>